.page-header {
	padding-left:20px;
}

body
{
	background: #C8C8C8;
}

#nav {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.bg {
	background: url('../img/background.png') no-repeat center center;
	position: fixed;
	width: 100%;
	height: 800px; /*same height as jumbotron */
	top:0;
	left:0;
	z-index: -1;
}

.jumbotron {
	margin-bottom: 0px;
	height: 800px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.1em;
	background:transparent;
}

#about {
	padding-top: 20px;
	height: 400px;
}

#transbox {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width:400px;
	background-color:rgba(120,120,120,0.4);
}

.panel-default {
  border-color: #C8C8C8;
}

.panel-default > .panel-heading {
	opacity:0.9; 
	background-color: lightgrey;
}


.panel-title > a {
	color: #751F0F;
	font-size: 120%;
	margin-left: 35px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.panel-body {
	background-color: lightgrey;
}

.panel {
	margin-left: 30px;
	width: 350px;
}

.panel-group {
	margin-left: 15%;
}

#profilepic {
	width: 300px;
	height: 300px;
	margin-top: -600px;
	margin-right: 100px;
	float:right;
	border:2px solid #751F0F;
}

#portfolio{
	margin-top: -50px;
}

#experience{
	margin-top: 80px;
}

.body-header {
	color: black;
	font-size: 50px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#apppic {
	margin-top: -40px;
	margin-bottom: -50px;
	margin-left: 90px;
	display:inline-block;
	max-height: 600px;
	max-width: 500px;
	float:center;
	max-width: 600px;
}

.githubpic {
	margin-top: 20px;
	margin-left: 10px;
	max-width: 120px;
	max-height: 70px;
}

.appstorepic {
	margin-top: 20px;
	margin-left: -20px;
	max-width: 150px;
	max-height: 70px;
}

.visitSiteButton {
	margin-top: 20px;
	margin-left: -15px;
	width: 130px;
	height: 50px;
}

#organizations {
	margin-top: 40px;
	margin-bottom: 100px;
	padding-top: 40px;
}

#organizations-header {
	font-size: 50px;
}

.org-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #751F0F;
	font-size: 40px;
	text-align:center;
}

.org-panel {
	height: 480px;
	width: 420px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10px;
}

.panel-body > p {
	color: #606060;
	text-align: center;
}

.org-pic {
	width: 300px;
	height: 300px;
	margin: 12%;
}

#contact {
	border-color: black;
	font-size: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: lightgrey;
	border-color: #C8C8C8;
	opacity:0.9; 
	color: #751F0F;
	padding-bottom: 50px;
}

.contact-links {
}

#contact-list {
	margin-left: 15%;
	margin-right: 15%;
}

#contact-header {
	margin-right: 8%;
	text-align: center;
	margin-bottom: 30px;
}

#footer {
	margin: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
