#organizations-header {
	padding-top:30px;
}

.page-header {
	padding-left:20px;
}


.panel-default {
  border-color: black;
}

.panel-default > .panel-heading {
	color: #5F94B3;
	border-color: black;
/*	background-color: #5F94B3; */
	background: linear-gradient(to right, #5F94B3, #052C43);

}


.panel-title > a {
	color: black;
}

.panel-body {
	background-color: lightgrey;
}

.panel {
	margin-left: 20px;
}

body
{
	/*
		background: #639BAE;
background: -webkit-linear-gradient(green, black); 
background: -o-linear-gradient(green, black); 
background: -moz-linear-gradient(green, black);
*/
/* 3u51TsYkkw0w0 */
background: linear-gradient(#5F94B3, #044A26);

}

.bg {
	background: url('../img/background.png') no-repeat center center;
	position: fixed;
	width: 100%;
	height: 800px; /*same height as jumbotron */
	top:0;
	left:0;
	z-index: -1;
}

.jumbotron {
	margin-bottom: 0px;
	height: 800px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.1em;
	background:transparent;
}

#about {
	padding-top: 20px;
	height: 400px;
}

#transbox {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width:400px;
	background-color:rgba(120,120,120,0.4);
}

#apppic {
	margin-top: -40px;
	display:inline-block;
	max-height: 800px;
	max-width: 300px;
}

#contact {
	background-color: #5DB88A;
}

.bodyheader {
	color: black;
}
